.radioOptions {
     list-style-type:none;
     margin:0 0 0 0;
     padding:0;
}

.radioOptions li {
     float:left;
     margin:0 0px 0 0;
    width:70px;
    position:relative;
	font-size: 18px;
}

.radioOptions ul{
	height: 70px;	
}

.radioOptions label, .radioOptions input {
    display:block;
    position:inherit;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.radioOptions input[type="radio"] {
    opacity:0.01;
    z-index:100;
	display: none;
}

.radioOptions input[type="radio"]:checked + label,
.Checked + label {
    background:#d8c220;
}

.radioOptions label {
     padding:5px;
     cursor:pointer;
    z-index:90;
	text-align: center;
	vertical-align: middle;
}

.radioOptions label:hover {
     background:#097f8e;
}

