/* Typography, Colors, etc. */
#paper, #svg{
	/*background-color:white;*/
}

.panelHeading{
	background-color: #097f8e;
	/*padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;*/
	font-size:20px;
	text-align: left;
	margin-bottom:4px;
	margin-top:4px;
	padding-left: 5px;
}

text{
	width: 100%;
}

.TabbedPanelsContent{
	/*text-align: center;
	vertical-align:middle;
	background-color: #72DFE4;*/
}

.MenuBarHorizontal{
	/*text-align: center;
	vertical-align:middle;*/
}

body{
	
	color: white;
	
}


.TabbedPanels ul.MenuBarHorizontal a{
	background-color: transparent;
	
}

.TabbedPanels ul.MenuBarHorizontal a:focus{
	background-color: #D8C220;
}

#topBar{
	background-color: #62b1bd;
	color: white;
	width: 100%;
	height: 25%;
}

#sideBar{
	background-color: #e3f1f3;
}

#drawingWindow{
	background-color: white;
}

.gridContainer clearfix{
	
}

#hiddenPanel{
}

.shapeOptions, .TabbedPanelsTabGroup{
	text-align: center;
	vertical-align: middle;
	margin:0;
}

#hiddenPanel{
	background-color: #e3f1f3;
}

#share{
	font: bold 0.7em sans-serif;
}

.link-tools .tool-remove { display: none }

.marker-arrowhead, .marker-vertex{
	opacity: 0.3;
}

.marker-vertex {
    fill: black !important;
}

.marker-vertex-remove-area{
	
}

#delete{
	background-color: #da0a0a;
}

.full{
	width: 100%;
}

.bottomEl{
	margin-bottom: 4px;
}

#varLabel, #connLabel{
	width: 90%;	
}



/*SLIDER STUFF*/


input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: white;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #D8C220;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: white;
}