@charset "utf-8";
/* CSS Document */

td:hover {background-color: #f5f5f5
}

table {
	background-color:#36157B;
	border-spacing: 10px;
	position: fixed;
	top: 190px;
	left: 0px;
	
}

td {
	width: 5.0em;
	text-align:center;
	background-color: #FFF;
	color: #333;
	height: 2.5em;
}

body {
	background-color:#36157B;
	color:#FFF;
}

header, nav, article, footer, address { 
    display: block;
	background-color: #36157B;
}

header{
	position: fixed;
	top: 0px;
	left: 0px;
	background-color:inherit;
}

textarea {
	max-height: 50px;
}

